In [1]:
msg="hello World!"
print(msg[::])#전체
print(msg[:-2:])#뒤에서 두번째 앞까지
print(msg[::-1])#반대로

hello World!
hello Worl
!dlroW olleh

In [2]:
msg="hello"
msg[1]="H"

TypeError: 'str' object does not support item assignment

In [5]:
msg="hello"
msg[1]

'e'

In [ ]:
prob="DFJEIOWRCGGCJFKGCCGCCGEIRJGCCG"
#GCCG가 어느 인덱스에서 시작하는지
#한번 포함된 문자는 빼고 찾아야 합니다.
#즉 중첩되면 후자는 빼야 합니다.

In [8]:
se="helloilp"
print(se.find("loi"))

3

In [13]:
import sys
#현재 시스템의 인코딩 확인
print(sys.stdin.encoding)
print(sys.stdout.encoding)
#문자열을 바이트코드로 변환
print("한글".encode())
print("한글".encode().decode())
#문자 자체의 코드값
print(ord("a"), ord("한"))

cp949
UTF-8
b'\xed\x95\x9c\xea\xb8\x80'
한글
97 54620

In [14]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [20]:
import re
#: 이나 |를 , 로 지환
test="lg:cns | samsung:sds"
result=re.sub("[:,|]",",",test)
print(result)
#유효한이메일인지 검사
p=re.compile('^[a-zA-Z0-9+-\_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$')
emails=["mhlee5894@gmail.com", "mhle29@jfc.com", "com.@mhlee", "mhlee.com@gmail"]
for email in emails:
    print(p.match(email)!=None)

lg,cns , samsung,sds
True
True
False
False

In [21]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [27]:
#list의 메서드 활용
li1=[]
li2=list(range(10))
li3=["hello","world!"]
#data 추가
li1.append("append data")
li3.append("python")
#한 개 데이터 출력
print(li3[2])
#슬라이싱 - 범위를 가지고 추출
print(li3[0:1])
#data 삭제
del li1[0]
print(li1)
#data 순회
for i in li3:
    print(i)
#list 정렬
li=["Hello", "ai", "bravo","zulu", "charli"]
li.sort()#오름차순 정렬
print(li)
li.sort(reverse=True)#내림차순 정렬
print(li)
result=sorted(li)
print(result)
#영문 대소문자 구분없지 정렬
li.sort(key=str.lower)
print(li)

python
['hello']
[]
hello
world!
python
['Hello', 'ai', 'bravo', 'charli', 'zulu']
['zulu', 'charli', 'bravo', 'ai', 'Hello']
['Hello', 'ai', 'bravo', 'charli', 'zulu']
['ai', 'bravo', 'charli', 'Hello', 'zulu']

In [31]:
record =("mino", "student", 26) # 튜플 생성
print(record)
print(record[1]) # 인덱싱 가능
#record[0]="mino2" # 수정 불가능
#list와 tuple은 unpacking 가능
name, job, age=record
print(job)
*etc, age=record # *을 이용하면 나머지 모두를 리스트로 생성
# 1개짜리도 *을 받으면 리스트로 만든다.
#swap : 2개의 데이터의 값을 치환하는 것
#python은 정말 쉽다
a=10
b=20
a,b=b,a
print(a,b)

('mino', 'student', 26)
student
student
20 10

In [40]:
#테이블 구조의 데이터를 생성
data=[("mino", '010'),("mino2","016")]
#이름만 출력
for row in data:
    print(row[0])
#컬럼에 이름을 사용하는 튜플
from collections import namedtuple
#자료구조 생성 - 튜플의 각 컬럼 이름 만들기
Person=namedtuple("Person",["person_name", "mobile"])
Persons=[Person("mino","010"),Person("mino2","016")]
for person in Persons :
    print(person.person_name)

mino
mino2
mino
mino2

In [39]:
help(namedtuple)

Help on function namedtuple in module collections:

namedtuple(typename, field_names, *, rename=False, defaults=None, module=None)
    Returns a new subclass of tuple with named fields.

    >>> Point = namedtuple('Point', ['x', 'y'])
    >>> Point.__doc__                   # docstring for the new class
    'Point(x, y)'
    >>> p = Point(11, y=22)             # instantiate with positional args or keywords
    >>> p[0] + p[1]                     # indexable like a plain tuple
    33
    >>> x, y = p                        # unpack like a regular tuple
    >>> x, y
    (11, 22)
    >>> p.x + p.y                       # fields also accessible by name
    33
    >>> d = p._asdict()                 # convert to a dictionary
    >>> d['x']
    11
    >>> Point(**d)                      # convert from a dictionary
    Point(x=11, y=22)
    >>> p._replace(x=100)               # _replace() is like str.replace() but targets named fields
    Point(x=100, y=22)

In [51]:
s={"mino", "mino2","mino2","mino3"}
print(s) #순서가 조금 다른데? 순서는 알 수 가 없다.
#순서와는 큰 상관이 없다.
s.add("mino4")
print(s)
for d in s:
    print(d)#얘도 어떤 순서로 나올지 모른다.

{'mino2', 'mino3', 'mino'}
{'mino2', 'mino3', 'mino', 'mino4'}
mino2
mino3
mino
mino4

In [56]:
#dict 생성
dic={}
#dict 데이터 추가(upsert)
dic["name"]="mino"
dic["job"]="student"
dic["age"]=26
dic["age"]=24 #이걸로 다시 덮어씌움
print(dic)
#print(dic["score"])#없는 키가 들어오면 KeyError
print(dic.get("score",0))#KeyError가 아닌 기본값 리턴
#순회하기
for key in dic:
    print(key, dic[key])

{'name': 'mino', 'job': 'student', 'age': 24}
0
name mino
job student
age 24

In [59]:
#dict를 이용한 MVC
#DTO 역할을 수행하는 클래스 생성 - 최근에는 더 권장
#map을 이용하는게 더 좋을 때도 있기는 함
class DTO:
    def __init__(self, name="noname", tel="전화없음"):
        self.name=name
        self.tel=tel
#데이터 목록 생성
data=[DTO("mino","010"), DTO("mino2","016")]
#이름과 전화번호 출력
for d in data:
    print(d.name, d.tel) 
    #이렇게 한다면 위에 def 부분에서 달라지면 여기도 바꿔야해
    #아니면 에러가 나는걸
#dict 목록 생성
data=[{"name":"mino", "tel":"010"},{"name":"mino2","tel":"016"}]
for d in data:
    for key in d:
        print(key,":" ,d[key])
#dict로 했다면 키값을 바꿔도 에러가 안나지 왜냐?
#키 이름을 쓰진 않았기 때문이다.
#근데 단순히 data[0]["name"] 이러고 싶으면 dict는 codeset의 도움을 못받음

mino 010
mino2 016
name : mino
tel : 010
name : mino2
tel : 016

In [68]:
#이차원 배열 대신에 dict 사용
babamba=["ba","bamba"]
banana=["ba","nana"]
apple=["ap","ple"]
#mine=[babamba,banana,apple]#list의 list
#이거 매우 별로다.
#list는 인덱스를 통해 접근하고, dict는 key를 통해 접근한다.
#for my in mine:
    #이렇게 쓰면 바밤바랑 바나나는 못쓴다.
for idx, my in enumerate(mine):
# enumerate는 인덱스와 데이터를 튜플로 리턴합니다.
    if idx==0:
        print("바밤바", end='\t')
    else:
        print("바나나", end='\t')
    for word in my:
        print(word, end='\t')
#여기서 my가 늘어나면 문제가 발생함
#인덱스가 변화하게 된다면 어려워진다.
mine=[{"name":"바밤바","data":babamba},{"name":"바나나","data":banana},{"name":"사과","data":apple}]
for dic in mine:
    print(dic.get("name"),end=":")
    for word in dic.get("data"):
        print(word,end='\t')
    print()

바밤바:ba	bamba
바나나:ba	nana
사과:ap	ple

In [82]:
li=list(range(10))
#li의 모든 데이터를 제곱한 list를 생성
result=[]
#일반 반복문
# for i in li:
#     result.append(i*i)
#map 함수를 이용해보자
result=list(map(lambda i : i*i,li))
print(result)
#list comprehension
#[연산식 순회할문장]
result=[i*i for i in li]
print(result)
#for 2r개 사용하기
li1=[1,2,3]
li2=[4,5,6]
result1=[x*y for x in li1 for y in li2]
print(result1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [91]:
#for 와 if 사용 가능 - filtering
singers=["윤하","아이유","태연","다린"]
#글자 수가 2인 데이터만 추출
result=list(filter(lambda x:len(x)==2, singers))
#위에 필터가 더 느리다.
#함수는 항상 별도의 메모리 공간을 받아서 작업을 수행하고
#돌아와야 한다.
print(result)
result1=[x for x in singers if len(x)==2]
print(result1)
#윤하만 골라내보자.
result_Y=[x for x in singers if len(x)==2 and x>"아" and x<"타"]
#조건을 길게 할 수 있다.
print(result_Y)
#if-else for 활용
#3글자 이상은 그대로, 나머지는 _를 추가
result_T=[x if len(x)>=3 else x+"_" for x in singers]
print(result_T)

['윤하', '태연', '다린']
['윤하', '태연', '다린']
['윤하']
['윤하_', '아이유', '태연_', '다린_']

In [99]:
from collections import Counter
data=["한식","한식","중식","양식","일식","양식","한식"]
counter=Counter(data)
print(dict(counter))
#한가지 데이터 파악
print(counter["한식"])
#상위 2개만 추출해보자.
print(counter.most_common(2))

{'한식': 3, '중식': 1, '양식': 2, '일식': 1}
3
[('한식', 3), ('양식', 2)]
Counter({'Apple': 6, 'Banana': 6, 'Orange': 4})

In [100]:
#튜플의 목록
data=[("Apple",3),("Apple",2),("Apple",1),("Orange",1),("Banana",6),("Orange",3)]
counter=Counter()
#구조를 분해해야겠는걸?
#데이터가 등장한 합계 구하기
for name, count in data:
    counter[name]+=count
print(counter)
#데이터가 등장한 횟수를 구해보기
counter=Counter()
for name, count in data:
    counter[name]+=1
print(counter)

Counter({'Apple': 6, 'Banana': 6, 'Orange': 4})
Counter({'Apple': 3, 'Orange': 2, 'Banana': 1})

In [104]:
# def div(x):
#     return 10/x
# print(div(20))
# print(div(0))
# try: 
#     예외가 발생할 가능성이 있는 구문
# except : 
#     예외가 발생했을 때 수행할 구문
# print("프로그램 종료")

0.5

ZeroDivisionError: division by zero

In [105]:
def div(x):
    return 10/x
try: 
    print(div(20))
    print(div(0))
except : 
    print("예외 발생!")
print("프로그램 종료")

0.5
예외 발생!
프로그램 종료